@import "./navhader.css";
@import "./herosection.css";
@import "./aboutsection.css";
@import "./galeryimage.css";
@import "./listcaousel.css";
@import "./wabutton.css";
@import "./footer.css";
@import "./cardnews.css";
@import "./Achievemnet.css";
@import "./partners.css";

* {
  padding: 0;
  margin: 0;
}

main {
  padding-top: 60px; /* Sesuaikan dengan tinggi navbar */
}

html {
  scroll-behavior: smooth;
}

.carousel {
  width: 100%;
  margin-top: 100px;
  background-color: rgb(129, 131, 130);
}

.carousel h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  color: white;
  margin-top: 20px;
}
